<h1> Pandas Library Tutorial </h1>

An introduction to the world of Data Analysis using Pandas library from Python

In [1]:
# Import main libraries
import pandas as pd
import numpy as np
import os
os.getcwd()

'/resources/labs/PD0101EN/Pandas-Tutorial/scripts'

Downloading the data form a .csv file. Main and schema files:

In [2]:
df = pd.read_csv("/resources/labs/PD0101EN/Pandas-Tutorial/data/survey_results_public.csv", index_col="Respondent")
df_schema = pd.read_csv("/resources/labs/PD0101EN/Pandas-Tutorial/data/survey_results_schema.csv", index_col="Column")

<strong>Data frame options - pd.set_option (attribute).</strong>
<p>
    Give the option to change some options of the data frame display.
</p>
<p> 
    Introducing a varible with the length of the array of the attributes (columns) of the data frame and introducing it to the pd.set_option value, could enlarge the table to the max. nÂº of columns automaticly.
</p>

In [3]:
coldf = len(df.columns)
rowschema = len(df_schema)
pd.set_option("display.max_columns", coldf)
pd.set_option("display.max_rows", rowschema)

<strong> Data frame size - df.shape (attribute) </strong>
<p>
    As it's an attribute of the data frame, it doesn't need a ().
</p>

In [30]:
df.shape

(3303, 85)

<strong>Data frame information - df.info() (method).</strong>
<p>
    As it's a method of the data frame, it does need a () after the call. <p>You can select the number of row you want to watch.</p>

In [ ]:
df.info()

<strong> Data frame visualitzation - df.head() and df.tail() (attributes). </strong>
<p>
    If the value is blank, it will print only the 5 first or last rows of the data frame.

In [37]:
df.head(1)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

In [ ]:
df_schema.tail()

<h2><strong>
    Selecting rows and columns</strong>
    </h2>
    <p>
    Before starting with the core of this chapter, lets make a brief reminder about what is a <strong>series</strong>. The main definition of series could be that is data enclose on a 1D array. To make it more comprehensive to us, in our pandas world, a series is a column with all its rows.
    </p>
<h3> Select Columns </h3>

The first step is to now how many columns do you have in your dataframe. To make a quick look you can use <strong>df.columns</strong> method. It will return a list with all the columns names and the type of them.

In [41]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

 <p>
    Now, lets back to the topic. To select a single column of a data frame, you could use two methods: <strong>df["Employment"]</strong> or <strong>df.Employment</strong>. Due incompatibilities reasons with confusing methods names with the names of the columns, we are going to use the first one, with the name of the column enclosed with "".
    </p>
    <p>
    The output will be a series of the selected column.

In [ ]:
df["Employment"]

You also can select multiple columns. As a series is a 1D array, in this case will return a new data frame with the filtred columns. To select multiple columns use <strong>df[["column1","column2"]]</strong> method.

In [ ]:
df[["MainBranch","Employment"]]

<h3> Select rows </h3>
<p>There are two main methods of selecting rows in pandas. The first one is loc and the other iloc. </p>

<strong> iloc method - df.iloc[] </strong>
<p>
This method use the indexs of each value to acces them. You also can select multiple one or multiple rows as made before with the columns. Be aware that for one row will return a series and for multiple, a new dataframe.
    </p>

In [ ]:
df.iloc[0] # Will return a series with the data of the first rows, giving as index the columns names.

In [44]:
df.iloc[[0,1]]  # Will return a new data frame with the data of the first two rows.

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

You can also select columns of a given row adding a second component to de iloc function

In [46]:
df.iloc[[0,1],5]

0    Not employed, and not looking for work
1        Not employed, but looking for work
Name: Employment, dtype: object

<strong> loc method - df.loc[""] </strong>
<p>
This method use the labels of each row to acces them. The label of the row is the column you define as index, by default, this will we a numerical, self-created column at the left of the data frame.</p><p> You also can select multiple one or multiple rows as made before with the columns. Be aware that for one row will return a series and for multiple, a new dataframe.
    </p>

In [51]:
df.loc[[0,1],["Employment","Country"]]

                               Employment                 Country
0  Not employed, and not looking for work          United Kingdom
1      Not employed, but looking for work  Bosnia and Herzegovina

Additionally, you can use slicing to get a nÂº of column and rows needed.

In [13]:
df.loc[0:2,"Hobbyist":"Employment"]

,Hobbyist,OpenSourcer,OpenSource,Employment
0,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work"
1,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work"
2,Yes,Never,The quality of OSS and closed source software ...,Employed full-time

<h2><strong>
    Indexes</strong>
    </h2>

<p>As stated before, an index is the label of each row. Usually it's easy to acces to specific data using that label, but on default that label is the nÂº in order of each row. With pandas, using <strong>df.set_index("")</strong> you can change the index to the column of interest.</p>
<p>If not stated, the change won't be saved in our data frame. To do so, you need the element <strong> inplace = True</strong> to save the changes.</p>

In [17]:
df.set_index("Respondent", inplace = True)

<p>Once changed, it's easy to see what is the data frame's index using <strong>df.index</strong>.</p>

In [18]:
df.index

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            3307, 3308, 3309, 3310, 3311, 3312, 3313, 3314, 3315, 3316],
           dtype='int64', name='Respondent', length=3303)

To reset the index, use the command <strong>df.reset_index(inplace=True)</strong>.

In [ ]:
df.reset_index(inplace=True)
df.head(2)

<p>If you know your data frame in advance, you can add the argument <strong>index_col="insert_column"</strong> to the pd.read_csv command.</p>
<p>Using this method it's easier to acces data in the data frame. As an example, what is the meaning of MgrIdiot column? With .loc method on the df_schema it's easy to acces the data we are looking for.

In [25]:
df_schema.loc["MgrIdiot","QuestionText"]

'How confident are you that your manager knows what theyâre doing?'

You can sort your index easily using <strong>df.sort_index()</strong>. The output is by default in alphaetical order. You can add the argument <strong> ascending = False </strong> to get the inverted list.</p>
<p> Remember to use inplace = True if you want to save the changes.

In [ ]:
df_schema.sort_index(inplace=True)
df_schema

In [39]:
df.head(1)

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

<h2><strong>
    Filtering Data</strong>
    </h2>

<p>Filtering data is important to make efficient analysis in extensive data frames. The quickest way to do it is applying the command <strong> df["column"] == "condition"</strong>. The output is a series with boolean types.</p>
<p> For usage, it's usefull to put the filter as a variable to be able to use directly:</p>

In [ ]:
filt_country = (df["Country"] == "United Kingdom")
df[filt_country].head()

Another way to use it is with <strong> .loc</strong> method which can use booleans variable as arguments. Using .loc could be a little confusing at first, but it allows to filter and select columns with a single line of code.

In [50]:
df.loc[filt_country,["Hobbyist","Employment"]].head()

           Hobbyist                              Employment
Respondent
1               Yes  Not employed, and not looking for work
16              Yes                      Employed full-time
76               No                      Employed full-time
80              Yes                      Employed full-time
82              Yes                      Employed full-time

<h3> And - Or method</h3>

There is another way to filter data using the and <strong>( & )</strong> - or <strong>( | )</strong> commands.

In [ ]:
filt_country = (df["Country"] == "United Kingdom") & (df["Hobbyist"] == "Yes")
df[filt_country].head()

In [ ]:
filt_country = (df["Country"] == "United Kingdom") | (df["Hobbyist"] == "Yes")
df[filt_country].head()

You can us the element <srtong> ~ </strong> to negate the filter. In that case, the output will show all the peoplefrom outside of United Kingdom.

In [56]:
df.loc[~filt_country,["Hobbyist","Employment"]].head()

           Hobbyist                          Employment
Respondent
2                No  Not employed, but looking for work
3               Yes                  Employed full-time
4                No                  Employed full-time
5               Yes                  Employed full-time
6               Yes                  Employed full-time

<strong> Example:</strong> Filter by salary and shoow only salary, country and programing.

In [59]:
high_salary = (df["ConvertedComp"] > 7000)
df.loc[high_salary,["Country", "LanguageWorkedWith", "ConvertedComp"]]

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
3,Thailand,HTML/CSS,8820.0
4,United States,C;C++;C#;Python;SQL,61000.0
6,Canada,Java;R;SQL,366420.0
9,New Zealand,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,95179.0
10,India,C#;Go;JavaScript;Python;R;SQL,13293.0
...,...,...,...
3308,United States,C;HTML/CSS;JavaScript;Python;Rust,130000.0
3309,France,C++;HTML/CSS;Java;SQL,21998.0
3310,Poland,C++;C#,56114.0
3314,United Kingdom,HTML/CSS;JavaScript;PHP;R;SQL;TypeScript;VBA,28786.0
3315,Denmark,Java;JavaScript;PHP,994392.0

<h3> Extra methods to filter</h3>

If you want to filter for multiple elements of one column, the method <strong>df["column"].isin(variable)</strong> is recomended. As previous step, you may need to create a variable with the list of the desiered elements.

In [61]:
countries = ["United States", "India", "United Kingdom", "Germany", "Canada"]
filt = df["Country"].isin(countries)
df.loc[filt, "Country"]

Respondent
1       United Kingdom
4        United States
6               Canada
8                India
10               India
             ...
3311     United States
3312             India
3313     United States
3314    United Kingdom
3316             India
Name: Country, Length: 1636, dtype: object

<p>In case you have a column which the data is in a string with multiples values separeted by an element (space, colon, semi-colon) you can use <strong>df["Column"].str.contains("word")</strong>.</p>
<p> If you add <strong>na=False</strong> argument, the function will ignore the NAN values.

In [64]:
filt = df["LanguageWorkedWith"].str.contains("Python", na=False)
df.loc[filt, "LanguageWorkedWith"]

Respondent
1                         HTML/CSS;Java;JavaScript;Python
2                                     C++;HTML/CSS;Python
4                                     C;C++;C#;Python;SQL
5             C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
8       Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
                              ...
3304    Assembly;Bash/Shell/PowerShell;C;C++;C#;HTML/C...
3305     Bash/Shell/PowerShell;HTML/CSS;JavaScript;Python
3308                    C;HTML/CSS;JavaScript;Python;Rust
3311           HTML/CSS;Java;JavaScript;Python;TypeScript
3316    Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
Name: LanguageWorkedWith, Length: 1392, dtype: object

<h2><strong>
     Updating Rows and Columns</strong>
    </h2>

<p>There are several options to modify the columns propieties such as: </p>
<li>- Add names to columns if not available: <strong>df.columns = ["name1","name2","name3"]</strong></li> 
<li>- Change letters to lower case to upper case or viseversa: <strong>df.columns = [x.upper() for x in df.columns]</strong></li> 
<li>- Replace not desired values to others: <strong>df.columns = df.columns.str.replace("old","new")</strong></li> 
<li>- Rename an specific column: <strong>df.rename(columns = {"old":"new"}, inplace = True)</strong></li>

In [7]:
df.rename(columns={"ConvertedComp":"SalaryUSD"}, inplace=True)

<h3>Updating Data</h3>

<p>The most easiest way is using the <code>.loc</code> method seen before:</p>
<li>- Select one row and change all the data: <strong>df.loc["row"] = ["new1","new2","new3"]</strong></li> 
<li>- Select one row and the chosen columns: <strong>df.loc["row",["column1","column2"]] = ["new1","new2"]</strong></li>

In [ ]:
df.loc["row"] = ["new1","new2","new3"] # Changes all the data of the row.
df.loc["row",["column1","column2"]] = ["new1","new2"] # Only changes the data selected of the row.

<p>To changes individual data, do not use the filter method as follows:</p>
<p><code>filt = (df["Column_filter"]) == "Value_Selected")</code></p>
<p><code>df[filt]["Column"] = "New"</code></p>
<p>That will trigger an error on Python. Tu use it, you have to add the column selected of the filtred dataframe using .loc:</p>
<p><code>df.loc[filt,"last"] = "New"</code></p>

<h3> Methods to change Data on Multiple Rows</h3>

<strong>1. Apply</strong>
<p>Mainly used on series format data (1D arrays). You can obtain information about the series or changes it:</p>
- Apply the <code>len</code> function to the data frame but only give the lengths of each row or column (depending of the value of <code>axis</code> argument: <strong>df.apply(len, axis="Columns")</strong>.</p>
- Apply the <code>len</code> function only to the selected column (series): <strong>df["Column"].apply(len)</strong>.</p>
-To change some data, it could be usefull create short functions:. As exemple:
<p><code>def update_email(email):</code></p>
<p><code>    return email.upper()</code></p>
<p><code>df["email"] = df["email"].apply(update_email())</code></p>
<p>This code will change all the letters of the email column to upper case.You can use the <code>Lambda</code> method is the function is not complex:</p>
<p><code>df["email"] = df["email"].apply(lambda x: x.lower())</code></p>
- To obtain a certain value (min, max, std,...), with pandas you can use the <code>Series</code> method: <strong>df.apply(pd.Series.min)</strong>.</p>
Using the Lambda method, it will be : <strong>df.apply(lambda x: x.min)</strong>.

<strong>2. Applymap</strong>
<p>If you want to acces or change the data of the whole data frame, you need to use <code>applymap</code> method. As an exemple:</p>
<li>- Apply the <code>len</code> function to the all data frame: <strong>df.applymap(len)</strong>.</li>
<li>- Change all the data frame to lower case: <strong>df.applymap(str.lower)</strong>.</li>

<strong>3. Map</strong>
<p> To replace the whole data of a column, you could use the <code>map</code> method. It's important to remember that all the values not changed will be considered <strong>NaN</strong>.</p>
<p><code>df["Column"].map({"Old1":"New1","Old2":"New2"})</code></p>

In [10]:
df["Hobbyist"] = df["Hobbyist"].map({"Yes":True,"No":False})

<strong>4. Replace</strong>
<p>To avoid the NaN values from the <code>Map</code> method, you have to use the <code>replace</code> one. Only changes the values selected, not touching the others. </p>
<p><code>df["Column"].replace({"Old1":"New1","Old2":"New2"})</code></p>

<p>On both methods, remember to assign to the column of the data frame if you want to keep the changes.</p>
<p><code>df["Column"] = df["Column"].replace({"Old1":"New1","Old2":"New2"})</code></p>

In [18]:
 df["BetterLife"] = df["BetterLife"].replace({"Yes":True,"No":False})

<h2><strong>Add/Remove Rows and Columns</strong></h2>

<h3> Columns </h3>
<p><strong>Add column:</strong> The most common way to creat a column is to merge two or more existing columns to one or take one and make some calculations.</p>
<p> To add a name to the column, assign the operation to a new column: <strong> df["New_column"] = df["column1"] + " " + df["column2"]</strong>. Note that between both columns there is an argument to add a space between values, handy if you have strings.</p>

In [ ]:
df["full_name"] = df["first"] + " " + df["last"]

<p><strong>Remove column:</strong> To delete a column or more it can be done within a single line of code:</p><p><strong> df.drop(columns=["Column1","Column2"], inplace = True)</strong>. If you want to confirm the changes, add <code>Implace = True</code> as argument.</p>

In [ ]:
df.drop(columns=["first","last"], inplace = True)

<p><strong>Split column:</strong> Exist an option to split a column to more if needed using one of the methods of <code>str</code> method: <strong>df["Column1"].str.split(" ", expand = True)</strong></p>
<p> This method, first, creat a list of each row with the condition introduced on the first argument (space in that case). Using the argumend <code>expand=True</code>, creats a new column for each element of the list created.</p>
<p> To give name to the columns created, just asigne the method to a dataframe with the names you want, similar to adding columns.</p>

In [ ]:
df[["first","last"]] =df["full_name"].str.split(" ", expand = True)

<h3> Rows </h3>
<p><strong>Add row:</strong> With the method append, you can add a new row at the end of the dataframe. The data not added in the dictionary will be considered NaN: <strong>df.append({"Column1":"data"}, ignore_index = True)</strong> </p>
<p> The argument <code>ignore_index = True</code> is needed to avoid an internal error, more evident when merging differents data frames.</p>

In [ ]:
df.append({"first":"Tony"}, ignore_index = True)

<p><strong>Merging dataframes:</strong> Similar to adding rows, you can use <code>append</code> method to merge to differents dataframes: <strong>df_merge = df.append(df2, ignore_index = True, sort = False)</strong> </p>
<p> The argument <code>ignore_index = True</code> is needed to ignore the index of the data frame that it's being merged (df2). The second argument <code>sort</code> force to  avoid sorting the data.</p>

In [ ]:
df_merge = df.append(df2, ignore_index = True, sort = False)

<p><strong>Remove row:</strong> There are two main methods:</p>
<p>- <strong>By index</strong></p>
<p> Using the index nÂº of the row: <strong>df.drop(index=4, inplace = True)</strong> </p>
<p>- <strong>With filter</strong></p>
<p> Selecting the rows using a filter: <strong>df.drop(index=df[df["Column"] == "Data".index)</strong>.
    <p>Adding an extra step, creating a variable with the filter, could make your code more clear: <strong>filt = df["Column"] == "Data" --> df.drop(index=df[filt].index)</strong>.

In [ ]:
df.drop(index=4, inplace = True) # Delete the row with index nÂº 4

filt = df["last"] == "Doe" # Create a filtrer
df.drop(index=df[filt].index) # Using the filtrer to acces the indexes of the rows you want to delete.

<h2><strong> Sorting Data </strong></h2>

<p>The most common and easiest way to do it, is using the <strong>df.sort_values()</strong> method.</p>
<p>To select the column, use as argument <code>by="column1"</code>. Toc change the order of the sort, add <code> ascending=False</code> in the second place.</p>

In [9]:
df.sort_values(by="Country", inplace=True)
df["Country"].head(10)

Respondent
722             Afghanistan
2332                Albania
1954                Albania
3074                Algeria
3300                Algeria
1543                Algeria
1102                Algeria
1547                Andorra
11      Antigua and Barbuda
147               Argentina
Name: Country, dtype: object

<p>If you want to sort the data frame using to columns, use a list in the <code>by</code> argument. Us the same on <code>ascending</code> if you want to sort differently both columns.</p>
<p>Note: The first element of the arguments, is the main sorting element.</p>

In [13]:
df.sort_values(by=["Country", "ConvertedComp"], ascending=[True, False],inplace = True)
df[["Country","ConvertedComp"]].head(15)

                        Country  ConvertedComp
Respondent
722                 Afghanistan            0.0
2332                    Albania        22080.0
1954                    Albania        11040.0
1543                    Algeria         9144.0
3074                    Algeria            NaN
3300                    Algeria            NaN
1102                    Algeria            NaN
1547                    Andorra            NaN
11          Antigua and Barbuda            NaN
181                   Argentina        84000.0
663                   Argentina        58140.0
1735                  Argentina        41988.0
1943                  Argentina        35798.0
1133                  Argentina        34524.0
1532                  Argentina        30684.0

<p>Remember to use <code>inplace=True</code> if you want to keep the changes. </p>
<p>To reset the order, you can directly use <strong>df.sort_index()</strong> method, using the indexes to sort de data frame.</p>

In [15]:
df.sort_index(inplace = True)
df[["Country","ConvertedComp"]].head(15)

                           Country  ConvertedComp
Respondent
1                   United Kingdom            NaN
2           Bosnia and Herzegovina            NaN
3                         Thailand         8820.0
4                    United States        61000.0
5                          Ukraine            NaN
6                           Canada       366420.0
7                          Ukraine            NaN
8                            India            NaN
9                      New Zealand        95179.0
10                           India        13293.0
11             Antigua and Barbuda            NaN
12                          Canada            NaN
13                   United States        90000.0
14                         Germany        57060.0
15                           India            NaN

If you only need a single column as an output (series), the sort_values method works after selecting a column using <code>df["column1"]</code> method.

In [ ]:
df["column1"].sort_values()

<h3> Smallest and Largest values</h3></p>
<p> To quickly see the largest or the smallest value of a column, simply use <strong>df["Column1"].nlargest() or .nsmallest()</strong> method.</p>

In [24]:
df["ConvertedComp"].nlargest(10)

Respondent
58      2000000.0
102     2000000.0
166     2000000.0
436     2000000.0
452     2000000.0
491     2000000.0
539     2000000.0
770     2000000.0
789     2000000.0
1232    2000000.0
Name: ConvertedComp, dtype: float64

In addition, if you want to see the row of these values, use <strong>df.nlargest(nÂº,"Column1")</strong> method. In nÂº, put thenÂº of rows to show.

In [ ]:
df.nlargest(10,"ConvertedComp")

<h2><strong> Groupping and Aggregating Data </strong></h2>
<p> First of all, let's take a look on our data frame, using some of the most used aggregating methods.
<p> To know the average value of a column, looking for the mean value will be the most intuitive way, but in extensive data frames, to avoid distorsions from the extrem values, it's usuall to use the median.
   
<p>To see the median of one column: <strong>df["Column"].median()</strong>.

In [27]:
df["ConvertedComp"].median()

57744.0

<p>To see the median of all the data frame: <strong>df.median()</strong>.

In [28]:
df.median()

CompTotal        65000.0
ConvertedComp    57744.0
WorkWeekHrs         40.0
CodeRevHrs           4.0
Age                 29.0
dtype: float64

Note: If not indicated, it only shows the float or int type values.
<p> There is another method to see a wide overview of the aggregated values of those values. To see the overview of the data frame: <strong>df.describe()</strong>.

In [29]:
df.describe()

          CompTotal  ConvertedComp  WorkWeekHrs   CodeRevHrs          Age
count  2.085000e+03   2.081000e+03  2414.000000  1907.000000  2941.000000
mean   3.013950e+09   1.321032e+05    42.803708     4.904740    30.413091
std    1.375600e+11   3.000233e+05    26.339804     4.761177     8.895249
min    0.000000e+00   0.000000e+00     1.000000     0.000000     1.000000
25%    2.100000e+04   2.638800e+04    40.000000     2.000000    24.000000
50%    6.500000e+04   5.774400e+04    40.000000     4.000000    29.000000
75%    1.250000e+05   1.030000e+05    45.000000     6.000000    35.000000
max    6.281239e+12   2.000000e+06   475.000000    54.000000    73.000000

The row count only take the existing values, droping the NaN values of the series. You can use the following method to see it independently: <strong>df["Column"].count()</strong>.

In [34]:
df["Hobbyist"].count()

3303

It would be of interest how many times one value repeat in a series. To see it use: <strong>df["Column"].value_counts()</strong>.
<p> The output is a count of each value that appear in the series.

In [33]:
df["Hobbyist"].value_counts()

Yes    2662
No      641
Name: Hobbyist, dtype: int64

In data science, give a normalize value of the date it's common. Adding the argument <code>normalize=True</code> to the <code>value_counts()</code> method, gives an output of the relative nÂº of the data.

In [39]:
df["SocialMedia"].value_counts(normalize=True)

Reddit                      0.174724
Facebook                    0.166825
YouTube                     0.159242
WhatsApp                    0.154186
Twitter                     0.139336
Instagram                   0.072986
I don't use social media    0.064139
LinkedIn                    0.047393
Snapchat                    0.007583
VK ÐÐÐ¾Ð½ÑÐ°ÌÐºÑÐµ               0.006951
WeChat å¾®ä¿¡                   0.005371
Weibo æ°æµªå¾®å                  0.000632
Youku Tudou ä¼é·              0.000316
Hello                       0.000316
Name: SocialMedia, dtype: float64

As an advanced count, you can use the filter method learnt before to acces a more accurate information:
<p> First, you have to create the filter: <strong>filt = df["Column1"] == "value"</strong></p>
<p> Second, apply <code>value_count()</code> method using <code>.loc</code> to acces data: <strong>df.loc[filt]["Column2"].value_counts()</strong></p>

In [46]:
filt = df["Country"] == "Spain"
df.loc[filt]["SocialMedia"].value_counts()

WhatsApp                    21
Twitter                     13
Reddit                      10
YouTube                      6
Instagram                    5
I don't use social media     3
LinkedIn                     1
Facebook                     1
Name: SocialMedia, dtype: int64

<h3><strong> Groupping (groupby)</strong></h3>

As seen before, you can create filters to acces more accurate data, but if you want to change the type of information you see, you have to change the whole filter. Using <code>Groupby</code> method, implemented to panda, makes the changes easier.
<p> The first step is to creat a <code>groupby</code> object and asign it to a variable:</p><p><strong> column1_grp = df.groupby(["Column1"]) </strong>.
    <p> Once created, you can acces to the information of a determinated value:
        <strong> column1_grp.get_group("Value1")</strong>.

In [ ]:
country_grp = df.groupby(["Country"]) # Create a series of each value of the series defined. Useful to put into a variable.
country_grp.get_group("United States") # Takes the row only from US as a filter

The <code>groupby</code> method, creates a dataframe from each value of the column you picked up (grouping), asigning indexes and sub-indexes, and you can work as the same way as a data frame:
<p> To acces the total counts of column 2 from each value of column1: <strong> column1_grp["Column2"].value_counts()</strong>.

In [51]:
country_grp["SocialMedia"].value_counts().head(20) # Return a series with multiple index (grouping)

Country    SocialMedia
Albania    Facebook                     1
           YouTube                      1
Algeria    Facebook                     2
           YouTube                      1
Andorra    I don't use social media     1
Argentina  WhatsApp                     9
           Twitter                      3
           Facebook                     2
           Reddit                       2
           Instagram                    1
           YouTube                      1
Armenia    Facebook                     3
           YouTube                      2
Australia  Facebook                    18
           Reddit                      13
           Twitter                     10
           YouTube                     10
           WhatsApp                     8
           I don't use social media     6
           Instagram                    6
Name: SocialMedia, dtype: int64

Finally, you can acces to the information of an specific value of the 1st column using <code>.loc</code> method:<strong> column1_grp["Column2"].value_counts().loc["Value_Column1"]</strong>.</p>
Remeber: the .loc method use the name of the indexes.

In [53]:
country_grp["SocialMedia"].value_counts().loc["Spain"]

SocialMedia
WhatsApp                    21
Twitter                     13
Reddit                      10
YouTube                      6
Instagram                    5
I don't use social media     3
Facebook                     1
LinkedIn                     1
Name: SocialMedia, dtype: int64

At first, it seems longer but in the long term it helps to acces quickly to all sort of information only changing the .loc parameter.

<h3><strong> Aggregating (agg)</strong></h3>

With pandas you could use multiple functions to acces useful information using the <code>.agg</code> method on a <code>groupby</code> object. The output is a data frame as the functions results as a columns.
<p>Simply use the following structure: <strong>country_grp["Column1"].agg(["function1","function2"])</strong>.

In [49]:
country_grp["ConvertedComp"].agg(["median","mean"])

                                       median     mean
Country
Afghanistan                               0.0      0.0
Albania                               16560.0  16560.0
Algeria                                9144.0   9144.0
Andorra                                   NaN      NaN
Antigua and Barbuda                       NaN      NaN
...                                       ...      ...
Uzbekistan                            70000.0  70000.0
Venezuela, Bolivarian Republic of...   9720.0   9720.0
Viet Nam                              29736.0  29736.0
Yemen                                 14376.0  14376.0
Zimbabwe                              18600.0  18600.0

[127 rows x 2 columns]

Using the <code>.loc</code> method at the end, you can acces a series of the selected index.

In [50]:
country_grp["ConvertedComp"].agg(["median","mean"]).loc["Germany"]

median    59579.000000
mean      98365.098039
Name: Germany, dtype: float64

<h3>Using .str method on groupby objects</h3>

As seen before on the filters chapter, the operations methods such as <code>.sum()</code> could be added at the end after using a string method <code>.str</code>.

In [10]:
filt = df["Country"] == "India"
df.loc[filt]["LanguageWorkedWith"].str.contains("Python").sum() # Using str method

111

But, what happens if this method is used in a <code>groupby</code> object?

In [11]:
country_grp["LanguageWorkedWith"].str.contains("Python").sum()
# You can't use series method to a series group directly.

AttributeError: 'SeriesGroupBy' object has no attribute 'str'

It triggers an error that ask to use <code>.apply</code> method instead, indicating the function to use.
<p>It's a good way to think that a groupby object is the sum of multiple series, and with the <code>.apply</code> method you acces individualy to each series of the group object.

In [12]:
country_grp["LanguageWorkedWith"].apply(lambda x: x.str.contains("Python").sum())

Country
Afghanistan                             0
Albania                                 1
Algeria                                 1
Andorra                                 0
Antigua and Barbuda                     0
                                       ..
Uzbekistan                              0
Venezuela, Bolivarian Republic of...    1
Viet Nam                                0
Yemen                                   0
Zimbabwe                                2
Name: LanguageWorkedWith, Length: 127, dtype: int64

<h2><strong> Example: </strong></h2>
<h3> What's the % of people knowing Python on each country?</h3>

In [51]:
# Create a variable with a groupby object, grouping by Countries.
country_grp = df.groupby(["Country"])

# Create a variable of the respondents.
country_respondents = df["Country"].value_counts()

# Create a variable with the series of the sum of all the pythonist of each country (apply method).
country_uses_python = country_grp["LanguageWorkedWith"].apply(lambda x: x.str.contains("Python").sum())

<h3><strong> Concatenate (Concat) </strong></h3>

A useful way to create a data frame from a group of series created, is to use the method <code>.concat</code>. It's needed to use the argument <code>axis = "columns"</code> to use the series indexes as columns in the new data frame:
<p><strong>new_df = pd.concat([Series1,Series2]</strong></p>

In [54]:
# Pandas concate function
python_df = pd.concat([country_respondents,country_uses_python], axis = "columns",sort = False)
python_df

                Country  LanguageWorkedWith
United States       787                 386
India               317                 111
United Kingdom      207                  86
Germany             179                  80
Canada              146                  67
...                 ...                 ...
Sierra Leone          1                   1
Bahrain               1                   0
Kazakhstan            1                   0
Guyana                1                   1
Andorra               1                   0

[127 rows x 2 columns]

Once create your data frame, you could work with them as one.

In [47]:
# Renaming the columns.
python_df.rename(columns={"Country":"NumResponders","LanguageWorkedWith":"NumKnowsPython"}, inplace=True)

# Creating a column with the % of the pythonist
python_df["%Pythonist"] = (python_df["NumKnowsPython"] / python_df["NumResponders"]) * 100

# Sorting the date by % Pythonist.
python_df.sort_values(by="%Pythonist", ascending = False, inplace = True)

# Filtring and showing the data.
filt = python_df["NumResponders"] > 50
python_df.loc[filt]

                    NumResponders  NumKnowsPython  %Pythonist
United States                 787             386   49.047014
Sweden                         56              27   48.214286
Australia                      78              37   47.435897
Russian Federation             67              31   46.268657
Canada                        146              67   45.890411
France                         96              44   45.833333
Italy                          58              26   44.827586
Germany                       179              80   44.692737
Brazil                         71              31   43.661972
United Kingdom                207              86   41.545894
Netherlands                    84              33   39.285714
Poland                         77              28   36.363636
India                         317             111   35.015773
Spain                          67              20   29.850746

In [ ]:
# Tutorial continues on video nÂº 9